body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #fff;
  height: 200vh;
  position: relative;
}
body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
body.offcanvas-menu:before {
  opacity: 1;
  z-index: 1002;
  visibility: visible;
}

p {
  color: #b3b3b3;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}

.site-navbar {
  background-color: #212121;
  text-align: center;
  margin-bottom: 0px;
  z-index: 1999;
  position: relative;
  width: 100%;
  padding: 30px;
}
@media (max-width: 991.98px) {
  .site-navbar {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.site-navbar .toggle-button {
  position: absolute;
  right: 0px;
}
.site-navbar .site-logo {
  position: absolute;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 0;
  margin: 0;
  padding: 0;
  z-index: 3;
}

.imagen {
  text-align: center;
  min-height: 100%;
  margin-top: 50px;
  margin-left: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 25px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 25px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px -6px rgba(0, 0, 0, 0.75);
}

.resultados {
  text-align: center;
  min-height: 100%;
  margin-top: 50px;
  margin-right: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 25px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 25px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px -6px rgba(0, 0, 0, 0.75);
}

.PRINCIPAL{
    margin-top: 25px;
    text-align: center  ;
}

.btn{
    color: white;
    font-weight: bolder;
    background-color: #61b15a;
}

.title_principal{
  color: #61b15a;
}
