<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!--BOOTSTRAP 5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--ESTILOS CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin-right: 50px; margin-left: 50px; margin-top: 50px;  margin-bottom: 20px; min-height: 150px;') }}
</head>
<body>

    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="site-logo">
              <a href="#" class="text-black"><span class="text-primary" style="color: white !important">PROYECTO SISIN</a>
            </div>
          </div>
        </div>

      </header>

      <div class="row">
        <div class="col-md-12">
          <div class="PRINCIPAL">
              <h4 class="title_principal"><b>DETECCIÓN DE RETINOPATÍA DIABÉTICA</b></h4>
          </div>
        </div>
    </div>

      <div class="row">
          <div class="col-md-8">
            <div class="imagen">
                <br>
                <h4 class="title"><b>IMÁGEN</b></h4>   
                {{ dropzone.create(action=url_for('upload')) }}
                {{ dropzone.config() }}
                <div class="col-md-12" style="display: flex;justify-content: center;">
                    <div class="col-md-4">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Seleccione opción</option>
                        <option value="1">Leve</option>
                        <option value="2">Moderado</option>
                        <option value="3">No DR</option>
                        <option value="4">Proliferar DR</option>
                        <option value="5">Grave</option>
                      </select>
                    </div>
                </div>
                <button type="button" class="btn btn-success" style="background-color: #61b15a; border: none; margin-top: 20px;">Detectar</button>
            </div>
          </div>
          <div class="col-md-4">
            <div class="resultados">
                <br>
                <h4 class="title"><b>RESULTADOS</b></h4>
                <div style="height: 100px; width: 300px; background-color: #61b15a; margin-top: 55px; margin-left: 60px; border-radius: 10px;">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                <div style="height: 100px; width: 300px; background-color: #af2d2d;border-radius: 10px;">    
                </div>
            </div>
          </div>
      </div>

      {{ dropzone.load_js() }}
</body>
</html>